@using App.Domain.Entities;
@model List<State>

<table class="table">
    <thead>
        <tr>
            <th scope="col">State</th>
            <th scope="col">Books</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @foreach (var book in item.City.Address.Member.MembersBooks)
                    {
                        <span>@book.Book.Name</span>

                        <span> * </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>